[submodule "subpro"]
	path = subpro
	url = https://github.com/takiucity/subpro.git
	branch = submodule1
[submodule "submodule2"]
	path = submodule2
	url = https://github.com/takiucity/subpro.git
	branch = submodule2
